#main-container {
	text-align: center;
	margin: 3rem auto 0 auto;
	width: 50%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 3.5rem;
	/* background-color: #fafafa; */
	display: block;
}

h1,p {
	color: rgb(41, 41, 41);
}

p {
	margin-bottom: 1rem;
}

#main-container button{
	outline: none;
	border: none;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	background-color: #5a5a5a;
	font-weight: bold;
}

#main-container button:hover {
	background-color: #626262;
}