#create-post-content {
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	width: 70%;
	padding: 1rem;
	margin: 0 auto;
	margin-top: 2rem;
}

#create-post-content label {
	display: block;
	margin-bottom: 0.7rem;
	font-style: italic;
	font-weight: 500;
	color: #6a6a6a;
}


h1 {
	border-bottom: 0.5px solid rgb(95, 95, 95);
	padding: 1rem;
}

select {
	padding: 0.5rem 0.5rem;
    width: 30%;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #afafaf;
    margin-bottom: 1.5rem;
}

input[type='text'] {
	margin-bottom: 2rem;
	padding: 0.7rem 0.5rem;
	width: 87%;
	border-radius: 4px;
	border: 2px solid rgb(141 141 141);
	font-size: 1rem;
}

input[type='text']:focus,
input[type='text']:active {
	outline: none;
}

option {
	padding: 0.5rem 0;
}

textarea {
	width: 85%;
	border: 2px solid rgb(141 141 141);
	border-radius: 4px;
	height: 200px;
	resize: none;
	font-size: 1rem;
	padding: 0.5rem;
    font: inherit;
}

textarea:active,
textarea:focus {
	outline: none;
}

#upload-file {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

button {
	color: #fff;
    background-color: #5a5a5a;
	cursor: pointer;
	border: none;
	padding: 0.75rem 1.7rem;
	border-radius: 4px;
	font-weight: bold;
}

button:hover {
	background-color: #686868;
}